.grid-video-item {
    width: 470px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    margin: .5em;
    box-sizing: border-box;
}

.grid-video-item a {
    cursor: default;
}

.grid-video-item .video-item--thumbnail {
    display: block;
    height: 265px;
    box-sizing: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-video-item .video-item--link {
    bottom: 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}